{% load static %}

<header>
    <nav class="navbar navegacao-topo fixed-top">
        <div class="container-fluid">
            <button class="navbar-toggler" type="button" data-bs-toggle="offcanvas"
                data-bs-target="#offcanvasNavbar" aria-controls="offcanvasNavbar" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <h1>Home</h1>
            <div class="offcanvas barra-lateral offcanvas-start" tabindex="-1" id="offcanvasNavbar"
                aria-labelledby="offcanvasNavbarLabel">
                <div class="offcanvas-header header-top">
                    <img src="{% static "bibliotech/image/logo.png" %}" alt="Logo" width="250">
                    <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
                </div>
                <div class="offcanvas-body">
                    <ul class="navbar-nav justify-content-start flex-grow-1 pe-3">
                        <li class="nav-item">
                            <a href="/">
                                <i class="fa-solid fa-house"></i>
                                <span>Home</span>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a href="#">
                                <i class="fa-solid fa-calendar-days"></i>
                                <span>Emprestimos</span>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a href="#">
                                <i class="fa-solid fa-file-invoice-dollar"></i>
                                <span>Multas</span>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a href="#">
                                <i class="fa-solid fa-right-from-bracket"></i>
                                <span>Log Out</span>
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </nav>
</header>