<div class="livro livro-list-item">
    <div class="livro-image">
        <a href="/livros/acao">
            <img src="{{ livro.cover.url }}" alt="">
        </a>
    </div>
    <div class="livro-title-container">
        <h2 class="livro-title">{{ livro.title }}</h2>
    </div>

    <div class="livro-author">
        <span class="livro-author-item">
            <i class="fas fa-user">
                {{ livro.author.first_name }} {{ livro.author.last_name }}
            </i>
        </span>
        <span class="livro-author-item">
            <a href="/bibliotech/categoria/Acao/">
                <i class="fas fa-layer-group">
                    <span>{{ livro.category.name }}</span>
                </i>
            </a>
        </span>
    </div>
    {% if is_detail_page is True %}
    <div class=" d-grid gap-2 btn-actions">
        <button type="button" class="btn btn-success btn-lg mt-3 mb-3">Renovar</button>
        <button type="button" class="btn btn-warning btn-lg">Devolver</button>
    </div>
    {% endif %}

</div>