<div class="livro livro-list-item">
    <div class="livro-image">
        <a href="/livros/acao">
            <img src="https://placehold.co/350x450" alt="">
        </a>
    </div>
    <div class="livro-title-container">
        <h2 class="livro-title">{{ livro.title }}</h2>
    </div>

    <div class="livro-author">
        <span class="livro-author-item">
            <i class="fas fa-user">
                {{ livro.author.first_name }} {{ livro.author.last_name }}
            </i>
        </span>
        <span class="livro-author-item">

            <a href="/bibliotech/categoria/Acao/">
                <i class="fas fa-layer-group">
                    <span>{{ livro.category.name }}</span>
                </i>
            </a>
        </span>
    </div>
</div>